{% extends "base.html" %}

{% block content %}
{% include "blog/includes/header.html"%}
<h1>{{ body_title }}</h1>
<ul>
    {% for p in tovars %}
    {% if p.status != "Draft" %}
    <li>
        <h2 class="tovar_list">{{ p.title }}</h2>
        <p class="tovar_list">
            <a id="read_post" href="{% url 'tovar' tovar_id=p.id %}">Смотреть...</a>>
        </p>
        {% if not forloop.last %}<hr>{% endif %}
    </li>
    {% endif %}
    {% endfor %}
</ul>
{% include "babka/includes/footer.html"%}
{% endblock %}